
  <p> Choose your food below  </p>
   
   <% for i in 0..@nutrientHash.length-1%>
   <ul>	
	<%= @nutrientHash[i]["name"]%>
   </ul>
   <%end %>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search Again:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

