<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]> 
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
					<ul class="nav navbar-nav navbar-left">
        		<li><%= link_to "Create an Account", '/users/new', id: "logo" %></li>
					</ul>
          
					<ul class="nav navbar-nav navbar-right">
            	<li><%= link_to "Home",   '#' %></li>
            	<li><%= link_to "Help",   '#' %></li>
            	<li><%= link_to "Log in", '/sessions/new' %></li>
          </ul>
					
        </div> 
    	</div>
		</div>
		<ul class="default-side-nav">
          <li><a href="#">Add a Food</a></li>
          <li><a href="#">Add a Meal</a></li>
          <li><a href="#">Add an Excercise</a></li>
          <li><a href="#">My Account</a></li>
    </ul>
		<div class="container">
      <%= yield %>
    </div>
  </body>
</html>
